{% extends 'base.html' %}

{% load static %}
{% block title %}EPLdb - Positions{% endblock %}
  <div class="content-wrapper">
    {% block content %}
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li class="nav-item">
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Arsenal" %}">Arsenal</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Bournemouth" %}">Bournemouth</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Brighton" %}">Brighton</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Burnley" %}">Burnley</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Chelsea" %}">Chelsea</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "CrystalPalace" %}">Crystal Palace</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Everton" %}">Everton</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Huddersfield" %}">Huddersfield</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Leicester" %}">Leicester</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Liverpool" %}">Liverpool</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "ManCity" %}">Man City</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "ManUnited" %}">Man United</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Newcastle" %}">Newcastle</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Southampton" %}">Southampton</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Stoke" %}">Stoke</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Swansea" %}">Swansea</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Tottenham" %}">Tottenham</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Watford" %}">Waford</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "WestBrom" %}">West Brom</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "WestHam" %}">West Ham</a></li>
      </ul>
      {% if table %}
      <div class="card" style="margin: 30px;">
        <div class="card-header">
          <i class="fa fa-table"></i> {{ pos }}s </div>
        <div class="card-body">
          <div>
            <table class="table table-bordered" id="dataTablePositions" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Saves</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Saves</th>
                </tr>
              </tfoot>
              <tbody>
              {% for r in table %}
                <tr>
                {% for d in r %}
                  <td>{{d}}</td>
                {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% else %}
      <h2>That position does not exist</h2>
      {% endif %}
    </div>
    {% endblock %}
