{% extends 'base.html' %}

{% load static %}
{% block title %}EPLdb - Positions{% endblock %}
  <div class="content-wrapper">
    {% block content %}
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li class="nav-item">
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Arsenal" %}">Arsenal</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Bournemouth" %}">Bournemouth</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Brighton" %}">Brighton</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Burnley" %}">Burnley</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Chelsea" %}">Chelsea</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Crystal Palace" %}">Crystal Palace</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Everton" %}">Everton</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Huddersfield" %}">Huddersfield</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Leicester" %}">Leicester</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Liverpool" %}">Liverpool</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Man City" %}">Man City</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Man Utd" %}">Man United</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Newcastle" %}">Newcastle</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Southampton" %}">Southampton</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Stoke" %}">Stoke</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Swansea" %}">Swansea</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Spurs" %}">Tottenham Hotspur</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "Watford" %}">Watford</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "West Brom" %}">West Brom</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "teams" "West Ham" %}">West Ham</a></li>
      </ul>
      <h1>{{ team_obj.0.0 }}({{ team_obj.0.1 }})</h1>
      <strong>Manager:</strong> {{ team_obj.0.2 }}<br />
      <strong data-toggle="tooltip" style="text-decoration: underline" title="i.e. a stadium">Ground:</strong> {{ team_obj.0.3 }}<br />
      <strong>City:</strong> {{ team_obj.0.4 }}<br />

    {% if team %}
      <div class="card" style="margin: 30px;">
        <div class="card-header">
          <i class="fa fa-table"></i> Players </div>
        <div class="card-body">
          <div>
            <table class="table table-bordered" id="dataTablePlayers" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Player</th>
                  <th>Position</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Player</th>
                  <th>Position</th>
                </tr>
              </tfoot>
              <tbody>
              {% for r in table %}
                <tr>
                {% for d in r %}
                  <td>{{d}}</td>
                {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% else %}
      <h2>That team does not exist.</h2>
      {% endif %}
    </div>
    {% endblock %}
